* {
    margin: 0;
    padding: 0;
    border: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(250, 231, 126);
    /* text-align: center; */
    position: relative;
}

.block-weather {
    margin: 0 auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.block-weather-temp,
.block-weather-wind {
    margin: 20px 0;
}

.city {
    cursor: pointer;
}

@media (max-width:800px) {
    .result {
        min-width: 50px;
        min-height: 50px;
        display: inline;

    }
}

.icon {
    display: inline-block;
    /* position: fixed; */
    right: 100px;
    top: 100px;

}

.result {
    min-width: 100px;
    min-height: 100px;

    display: inline-block;
    position: fixed;
    right: 10px;
    top: 1px;
    box-shadow: 10px 10px 10px 1px;
    border-radius: 10px;
    padding-left: 5px;
}

.icon img {
    width: 50px;
    height: 50px;
    margin: 5px;
    position: relative;
    left: 1px;
    top: 1px;
}